@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin:0px !important;
}

.ant-input:focus{
  border-color: #5285EC !important;
}

.ant-btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.ant-btn:active {
  box-shadow: none !important;
}

